body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  textarea {
    width: 100%;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
    margin-bottom: 10px;
  }
  
  button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #0d1255;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #4f2dac;
  }
  
  #output {
    margin-top: 20px;
  }
  